* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #ddd;
}

.test {
    border: none;
    border-radius: 5px;
    background: linear-gradient(to bottom, #fff 50%, #fafafa 100%);
    color: rgb(36, 36, 36);
    font-size: 1.1em;
    padding: 0.5em 0.2em 0.4em 0.2em;
    position: absolute;
    box-shadow:
        0px 0px 20px 0px #fafafa inset,
        0px 1px 2px 1px #e9e9e9;





}

.test::placeholder {
    opacity: .8;
}