html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: relative;
}

summary {
    display: list-item;
}

template {
    display: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
details,
header,
hgroup,
menu,
nav,
main,
section {
    display: block;
}

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

* {
    text-transform: none;
    outline: none;
    user-select: none;
    font-size: 1em;
    position: relative;
    font-family: inherit;
    -webkit-appearance: value;
    -moz-appearance: value;
    appearance: value;
    vertical-align: baseline;
}

select {
    text-transform: none;
}

body {
    color: var(--matrah-color);
    background: var(--matrah-bg);
}

input,
textarea {
    border-style: solid;
    user-select: text;
    cursor: text;
    border-radius: 3px;
}



[text] {
    user-select: text;
    cursor: text;
}


button,
[active],
[type="button"],
[type="range"],
[type="reset"],
[type="file"],
[type="submit"] {
    border: ;
    cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal;
}



[hidden] {
    display: none;
}

[type="search"] {
    outline-offset: -2px;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[loading] {
    animation-name: loading;
    animation-duration: 4s;
    cursor: wait;
}

[loading="off"] {
    animation: none;
    cursor: inherit;
}

[loading="active"] {
    cursor: progress;
}


[disabled] {
    cursor: not-allowed;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

b,
strong,
[bold] {
    font-weight: bolder;
}



a {
    background-color: transparent;
}


hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1 {
    font-size: 3em;
    margin: 0.67em 0;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4,
pre {
    font-size: 1em;
}

h5,
small,
sub,
sup {
    font-size: .75em;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

sub,
sup {
    line-height: 0;
}

h6 {
    font-size: .5em;
}

h7 {
    font-size: .25em;
}

[size] {
    --matrah-font-size-a: 1em;
    --matrah-font-size-b: 0em;
    font-size:
        calc(var(--matrah-font-size-a) + var(--matrah-font-size-b));
}

[size^="0."],
[size^="."] {
    --matrah-font-size-a: 0em;
}

[size^="2"] {
    --matrah-font-size-a: 2em;
}

[size^="3"] {
    --matrah-font-size-a: 3em;
}

[size^="4"] {
    --matrah-font-size-a: 4em;
}

[size^="5"] {
    --matrah-font-size-a: 5em;
}

[size^="6"] {
    --matrah-font-size-a: 6em;
}

[size^="7"] {
    --matrah-font-size-a: 7em;
}

[size^="8"] {
    --matrah-font-size-a: 8em;
}

[size^="9"] {
    --matrah-font-size-a: 9em;
}

[size^="10"] {
    --matrah-font-size-a: 10em;
}


[size$=".1"],
[size$=".10"] {
    --matrah-font-size-b: 0.1em;
}

[size$=".15"] {
    --matrah-font-size-b: 0.15em;
}

[size$=".2"],
[size$=".20"] {
    --matrah-font-size-b: 0.2em;
}

[size$=".25"] {
    --matrah-font-size-b: 0.25em;
}

[size$=".3"],
[size$=".30"] {
    --matrah-font-size-b: 0.3em;
}

[size$=".35"] {
    --matrah-font-size-b: 0.35em;
}

[size$=".4"],
[size$=".40"] {
    --matrah-font-size-b: 0.4em;
}

[size$=".45"] {
    --matrah-font-size-b: 0.45em;
}

[size$=".5"],
[size$=".50"] {
    --matrah-font-size-b: 0.5em;
}

[size$=".55"] {
    --matrah-font-size-b: 0.55em;
}

[size$=".6"],
[size$=".60"] {
    --matrah-font-size-b: 0.6em;
}

[size$=".65"] {
    --matrah-font-size-b: 0.65em;
}

[size$=".7"],
[size$=".70"] {
    --matrah-font-size-b: 0.7em;
}

[size$=".75"] {
    --matrah-font-size-b: 0.75em;
}

[size$=".8"],
[size$=".80"] {
    --matrah-font-size-b: 0.8em;
}

[size$=".85"] {
    --matrah-font-size-b: 0.85em;
}

[size$=".9"],
[size$=".90"] {
    --matrah-font-size-b: 0.9em;
}

[size$=".95"] {
    --matrah-font-size-b: 0.95em;
}

[margin] {
    --matrah-margin-a: 1em;
    --matrah-margin-b: 0em;
    margin:
        calc(var(--matrah-margin-a) + var(--matrah-margin-b));
}

[margin^="0."],
[margin^="."] {
    --matrah-margin-a: 0em;
}

[margin^="2"] {
    --matrah-margin-a: 2em;
}

[margin^="3"] {
    --matrah-margin-a: 3em;
}

[margin^="4"] {
    --matrah-margin-a: 4em;
}

[margin^="5"] {
    --matrah-margin-a: 5em;
}

[margin^="6"] {
    --matrah-margin-a: 6em;
}

[margin^="7"] {
    --matrah-margin-a: 7em;
}

[margin^="8"] {
    --matrah-margin-a: 8em;
}

[margin^="9"] {
    --matrah-margin-a: 9em;
}

[margin^="10"] {
    --matrah-margin-a: 10em;
}


[margin$=".1"],
[margin$=".10"] {
    --matrah-margin-b: 0.1em;
}

[margin$=".15"] {
    --matrah-margin-b: 0.15em;
}

[margin$=".2"],
[margin$=".20"] {
    --matrah-margin-b: 0.2em;
}

[margin$=".25"] {
    --matrah-margin-b: 0.25em;
}

[margin$=".3"],
[margin$=".30"] {
    --matrah-margin-b: 0.3em;
}

[margin$=".35"] {
    --matrah-margin-b: 0.35em;
}

[margin$=".4"],
[margin$=".40"] {
    --matrah-margin-b: 0.4em;
}

[margin$=".45"] {
    --matrah-margin-b: 0.45em;
}

[margin$=".5"],
[margin$=".50"] {
    --matrah-margin-b: 0.5em;
}

[margin$=".55"] {
    --matrah-margin-b: 0.55em;
}

[margin$=".6"],
[margin$=".60"] {
    --matrah-margin-b: 0.6em;
}

[margin$=".65"] {
    --matrah-margin-b: 0.65em;
}

[margin$=".7"],
[margin$=".70"] {
    --matrah-margin-b: 0.7em;
}

[margin$=".75"] {
    --matrah-margin-b: 0.75em;
}

[margin$=".8"],
[margin$=".80"] {
    --matrah-margin-b: 0.8em;
}

[margin$=".85"] {
    --matrah-margin-b: 0.85em;
}

[margin$=".9"],
[margin$=".90"] {
    --matrah-margin-b: 0.9em;
}

[margin$=".95"] {
    --matrah-margin-b: 0.95em;
}

[padding] {
    --matrah-padding-a: 1em;
    --matrah-padding-b: 0em;
    padding:
        calc(var(--matrah-padding-a) + var(--matrah-padding-b));
}

[padding^="0."],
[padding^="."] {
    --matrah-padding-a: 0em;
}

[padding^="2"] {
    --matrah-padding-a: 2em;
}

[padding^="3"] {
    --matrah-padding-a: 3em;
}

[padding^="4"] {
    --matrah-padding-a: 4em;
}

[padding^="5"] {
    --matrah-padding-a: 5em;
}

[padding^="6"] {
    --matrah-padding-a: 6em;
}

[padding^="7"] {
    --matrah-padding-a: 7em;
}

[padding^="8"] {
    --matrah-padding-a: 8em;
}

[padding^="9"] {
    --matrah-padding-a: 9em;
}

[padding^="10"] {
    --matrah-padding-a: 10em;
}


[padding$=".1"],
[padding$=".10"] {
    --matrah-padding-b: 0.1em;
}

[padding$=".15"] {
    --matrah-padding-b: 0.15em;
}

[padding$=".2"],
[padding$=".20"] {
    --matrah-padding-b: 0.2em;
}

[padding$=".25"] {
    --matrah-padding-b: 0.25em;
}

[padding$=".3"],
[padding$=".30"] {
    --matrah-padding-b: 0.3em;
}

[padding$=".35"] {
    --matrah-padding-b: 0.35em;
}

[padding$=".4"],
[padding$=".40"] {
    --matrah-padding-b: 0.4em;
}

[padding$=".45"] {
    --matrah-padding-b: 0.45em;
}

[padding$=".5"],
[padding$=".50"] {
    --matrah-padding-b: 0.5em;
}

[padding$=".55"] {
    --matrah-padding-b: 0.55em;
}

[padding$=".6"],
[padding$=".60"] {
    --matrah-padding-b: 0.6em;
}

[padding$=".65"] {
    --matrah-padding-b: 0.65em;
}

[padding$=".7"],
[padding$=".70"] {
    --matrah-padding-b: 0.7em;
}

[padding$=".75"] {
    --matrah-padding-b: 0.75em;
}

[padding$=".8"],
[padding$=".80"] {
    --matrah-padding-b: 0.8em;
}

[padding$=".85"] {
    --matrah-padding-b: 0.85em;
}

[padding$=".9"],
[padding$=".90"] {
    --matrah-padding-b: 0.9em;
}

[padding$=".95"] {
    --matrah-padding-b: 0.95em;
}

[stick] {
    position: absolute;
}

[stick=""],
[stick="screen"] {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

[stick~="screen"] {
    position: fixed;
}

[stick~="t"] {
    top: 0;
}

[stick~="b"] {
    bottom: 0;
}

[stick~="r"] {
    right: 0;
}

[stick~="t"] {
    left: 0;
}

[stick~="h"] {
    left: 0;
    right: 0;
}

[stick~="v"] {
    bottom: 0;
    top: 0
}

/* center */
[center] {
    left: 100%;
    top: 100%
}

[z="over"] {
    z-index: 99999999999999999
}

[z="0"],
[z="zero"] {
    z-index: 0
}