@media (max-width:1200px) {

    [rows-120],
    [cols-120] {
        display: grid;
        --matrah-grid-tc: repeat(1, 1fr);
        --matrah-grid-tr: repeat(1, 1fr);
        grid-template-columns: var(--matrah-grid-tc);
        grid-template-rows: var(--matrah-grid-tr);
        --matrah-grid-cs: 1;
        --matrah-grid-rs: 1;
        --matrah-grid-re: -1;
        --matrah-grid-ce: -1
    }

    [rows-120]>*,
    [cols-120]>* {
        --matrah-grid-cs: 1;
        --matrah-grid-rs: 1;
        --matrah-grid-ce: -1;
        --matrah-grid-re: -1;
        appearance: none;
        -webkit-appearance: none
    }

    [hide-120] {
        display: none;
    }

    [cols-120="1"] {
        --matrah-grid-tc: repeat(1, 1fr)
    }

    [cols-120="2"] {
        --matrah-grid-tc: repeat(2, 1fr)
    }

    [cols-120="3"] {
        --matrah-grid-tc: repeat(3, 1fr)
    }

    [cols-120="4"] {
        --matrah-grid-tc: repeat(4, 1fr)
    }

    [cols-120="5"] {
        --matrah-grid-tc: repeat(5, 1fr)
    }

    [cols-120="6"] {
        --matrah-grid-tc: repeat(6, 1fr)
    }

    [cols-120="7"] {
        --matrah-grid-tc: repeat(7, 1fr)
    }

    [cols-120="8"] {
        --matrah-grid-tc: repeat(8, 1fr)
    }

    [cols-120="9"] {
        --matrah-grid-tc: repeat(9, 1fr)
    }

    [cols-120="10"] {
        --matrah-grid-tc: repeat(10, 1fr)
    }

    [cols-120="11"] {
        --matrah-grid-tc: repeat(11, 1fr)
    }

    [cols-120="12"] {
        --matrah-grid-tc: repeat(12, 1fr)
    }

    [cols-120="13"] {
        --matrah-grid-tc: repeat(13, 1fr)
    }

    [cols-120="14"] {
        --matrah-grid-tc: repeat(14, 1fr)
    }

    [cols-120="15"] {
        --matrah-grid-tc: repeat(15, 1fr)
    }

    [cols-120="16"] {
        --matrah-grid-tc: repeat(16, 1fr)
    }

    [cols-120="17"] {
        --matrah-grid-tc: repeat(17, 1fr)
    }

    [cols-120="18"] {
        --matrah-grid-tc: repeat(18, 1fr)
    }

    [cols-120="19"] {
        --matrah-grid-tc: repeat(19, 1fr)
    }

    [cols-120="20"] {
        --matrah-grid-tc: repeat(20, 1fr)
    }

    [rows-120="1"] {
        --matrah-grid-tr: repeat(1, 1fr)
    }

    [rows-120="2"] {
        --matrah-grid-tr: repeat(2, 1fr)
    }

    [rows-120="3"] {
        --matrah-grid-tr: repeat(3, 1fr)
    }

    [rows-120="4"] {
        --matrah-grid-tr: repeat(4, 1fr)
    }

    [rows-120="5"] {
        --matrah-grid-tr: repeat(5, 1fr)
    }

    [rows-120="6"] {
        --matrah-grid-tr: repeat(6, 1fr)
    }

    [rows-120="7"] {
        --matrah-grid-tr: repeat(7, 1fr)
    }

    [rows-120="8"] {
        --matrah-grid-tr: repeat(8, 1fr)
    }

    [rows-120="9"] {
        --matrah-grid-tr: repeat(9, 1fr)
    }

    [rows-120="10"] {
        --matrah-grid-tr: repeat(10, 1fr)
    }

    [rows-120="11"] {
        --matrah-grid-tr: repeat(11, 1fr)
    }

    [rows-120="12"] {
        --matrah-grid-tr: repeat(12, 1fr)
    }

    [rows-120="13"] {
        --matrah-grid-tr: repeat(13, 1fr)
    }

    [rows-120="14"] {
        --matrah-grid-tr: repeat(14, 1fr)
    }

    [rows-120="15"] {
        --matrah-grid-tr: repeat(15, 1fr)
    }

    [rows-120="16"] {
        --matrah-grid-tr: repeat(16, 1fr)
    }

    [rows-120="17"] {
        --matrah-grid-tr: repeat(17, 1fr)
    }

    [rows-120="18"] {
        --matrah-grid-tr: repeat(18, 1fr)
    }

    [rows-120="19"] {
        --matrah-grid-tr: repeat(19, 1fr)
    }

    [rows-120="20"] {
        --matrah-grid-tr: repeat(20, 1fr)
    }

    [col-120^="1"] {
        --matrah-grid-cs: 1
    }

    [col-120^="2"] {
        --matrah-grid-cs: 2
    }

    [col-120^="3"] {
        --matrah-grid-cs: 3
    }

    [col-120^="4"] {
        --matrah-grid-cs: 4
    }

    [col-120^="5"] {
        --matrah-grid-cs: 5
    }

    [col-120^="6"] {
        --matrah-grid-cs: 6
    }

    [col-120^="7"] {
        --matrah-grid-cs: 7
    }

    [col-120^="8"] {
        --matrah-grid-cs: 8
    }

    [col-120^="9"] {
        --matrah-grid-cs: 9
    }

    [col-120^="10"] {
        --matrah-grid-cs: 10
    }

    [col-120^="11"] {
        --matrah-grid-cs: 11
    }

    [col-120^="12"] {
        --matrah-grid-cs: 12
    }

    [col-120^="13"] {
        --matrah-grid-cs: 13
    }

    [col-120^="14"] {
        --matrah-grid-cs: 14
    }

    [col-120^="15"] {
        --matrah-grid-cs: 15
    }

    [col-120^="16"] {
        --matrah-grid-cs: 16
    }

    [col-120^="17"] {
        --matrah-grid-cs: 17
    }

    [col-120^="18"] {
        --matrah-grid-cs: 18
    }

    [col-120^="19"] {
        --matrah-grid-cs: 19
    }

    [col-120^="20"] {
        --matrah-grid-cs: 20
    }

    [col-120$="+1"],
    [col-120="1"] {
        --matrah-grid-ce: 1
    }

    [col-120$="+2"],
    [col-120$="-1"],
    [col-120="2"] {
        --matrah-grid-ce: 2
    }

    [col-120$="+3"],
    [col-120$="-2"],
    [col-120="3"] {
        --matrah-grid-ce: 3
    }

    [col-120$="+4"],
    [col-120$="-3"],
    [col-120="4"] {
        --matrah-grid-ce: 4
    }

    [col-120$="+5"],
    [col-120$="-4"],
    [col-120="5"] {
        --matrah-grid-ce: 5
    }

    [col-120$="+6"],
    [col-120$="-5"],
    [col-120="6"] {
        --matrah-grid-ce: 6
    }

    [col-120$="+7"],
    [col-120$="-6"],
    [col-120="7"] {
        --matrah-grid-ce: 7
    }

    [col-120$="+8"],
    [col-120$="-7"],
    [col-120="8"] {
        --matrah-grid-ce: 8
    }

    [col-120$="+9"],
    [col-120$="-8"],
    [col-120="9"] {
        --matrah-grid-ce: 9
    }

    [col-120$="+10"],
    [col-120$="-9"],
    [col-120="10"] {
        --matrah-grid-ce: 10
    }

    [col-120$="+11"],
    [col-120$="-10"],
    [col-120="11"] {
        --matrah-grid-ce: 11
    }

    [col-120$="+12"],
    [col-120$="-11"],
    [col-120="12"] {
        --matrah-grid-ce: 12
    }

    [col-120$="+13"],
    [col-120$="-12"],
    [col-120="13"] {
        --matrah-grid-ce: 13
    }

    [col-120$="+14"],
    [col-120$="-13"],
    [col-120="14"] {
        --matrah-grid-ce: 14
    }

    [col-120$="+15"],
    [col-120$="-14"],
    [col-120="15"] {
        --matrah-grid-ce: 15
    }

    [col-120$="+16"],
    [col-120$="-15"],
    [col-120="16"] {
        --matrah-grid-ce: 16
    }

    [col-120$="+17"],
    [col-120$="-16"],
    [col-120="17"] {
        --matrah-grid-ce: 17
    }

    [col-120$="+18"],
    [col-120$="-17"],
    [col-120="18"] {
        --matrah-grid-ce: 18
    }

    [col-120$="+19"],
    [col-120$="-18"],
    [col-120="19"] {
        --matrah-grid-ce: 19
    }

    [col-120$="+20"],
    [col-120$="-19"],
    [col-120="20"] {
        --matrah-grid-ce: 20
    }

    [col-120$="-20"] {
        --matrah-grid-ce: 21
    }

    [col-120] {
        grid-column-end: span var(--matrah-grid-ce)
    }

    [col-120*="+"],
    [col-120*="-"] {
        grid-column-start: var(--matrah-grid-cs)
    }

    [col-120*="-"] {
        grid-column-end: var(--matrah-grid-ce)
    }

    [col-120="-"] {
        grid-column: 1 / -1
    }

    [row-120^="1"] {
        --matrah-grid-rs: 1
    }

    [row-120^="2"] {
        --matrah-grid-rs: 2
    }

    [row-120^="3"] {
        --matrah-grid-rs: 3
    }

    [row-120^="4"] {
        --matrah-grid-rs: 4
    }

    [row-120^="5"] {
        --matrah-grid-rs: 5
    }

    [row-120^="6"] {
        --matrah-grid-rs: 6
    }

    [row-120^="7"] {
        --matrah-grid-rs: 7
    }

    [row-120^="8"] {
        --matrah-grid-rs: 8
    }

    [row-120^="9"] {
        --matrah-grid-rs: 9
    }

    [row-120^="10"] {
        --matrah-grid-rs: 10
    }

    [row-120^="11"] {
        --matrah-grid-rs: 11
    }

    [row-120^="12"] {
        --matrah-grid-rs: 12
    }

    [row-120^="13"] {
        --matrah-grid-rs: 13
    }

    [row-120^="14"] {
        --matrah-grid-rs: 14
    }

    [row-120^="15"] {
        --matrah-grid-rs: 15
    }

    [row-120^="16"] {
        --matrah-grid-rs: 16
    }

    [row-120^="17"] {
        --matrah-grid-rs: 17
    }

    [row-120^="18"] {
        --matrah-grid-rs: 18
    }

    [row-120^="19"] {
        --matrah-grid-rs: 19
    }

    [row-120^="20"] {
        --matrah-grid-rs: 20
    }

    [row-120$="+1"],
    [row-120="1"] {
        --matrah-grid-re: 1
    }

    [row-120$="+2"],
    [row-120$="-1"],
    [row-120="2"] {
        --matrah-grid-re: 2
    }

    [row-120$="+3"],
    [row-120$="-2"],
    [row-120="3"] {
        --matrah-grid-re: 3
    }

    [row-120$="+4"],
    [row-120$="-3"],
    [row-120="4"] {
        --matrah-grid-re: 4
    }

    [row-120$="+5"],
    [row-120$="-4"],
    [row-120="5"] {
        --matrah-grid-re: 5
    }

    [row-120$="+6"],
    [row-120$="-5"],
    [row-120="6"] {
        --matrah-grid-re: 6
    }

    [row-120$="+7"],
    [row-120$="-6"],
    [row-120="7"] {
        --matrah-grid-re: 7
    }

    [row-120$="+8"],
    [row-120$="-7"],
    [row-120="8"] {
        --matrah-grid-re: 8
    }

    [row-120$="+9"],
    [row-120$="-8"],
    [row-120="9"] {
        --matrah-grid-re: 9
    }

    [row-120$="+10"],
    [row-120$="-9"],
    [row-120="10"] {
        --matrah-grid-re: 10
    }

    [row-120$="+11"],
    [row-120$="-10"],
    [row-120="11"] {
        --matrah-grid-re: 11
    }

    [row-120$="+12"],
    [row-120$="-11"],
    [row-120="12"] {
        --matrah-grid-re: 12
    }

    [row-120$="+13"],
    [row-120$="-12"],
    [row-120="13"] {
        --matrah-grid-re: 13
    }

    [row-120$="+14"],
    [row-120$="-13"],
    [row-120="14"] {
        --matrah-grid-re: 14
    }

    [row-120$="+15"],
    [row-120$="-14"],
    [row-120="15"] {
        --matrah-grid-re: 15
    }

    [row-120$="+16"],
    [row-120$="-15"],
    [row-120="16"] {
        --matrah-grid-re: 16
    }

    [row-120$="+17"],
    [row-120$="-16"],
    [row-120="17"] {
        --matrah-grid-re: 17
    }

    [row-120$="+18"],
    [row-120$="-17"],
    [row-120="18"] {
        --matrah-grid-re: 18
    }

    [row-120$="+19"],
    [row-120$="-18"],
    [row-120="19"] {
        --matrah-grid-re: 19
    }

    [row-120$="+20"],
    [row-120$="-19"],
    [row-120="20"] {
        --matrah-grid-re: 20
    }

    [row-120$="-20"] {
        --matrah-grid-re: 21
    }

    [row-120] {
        grid-row-end: span var(--matrah-grid-re)
    }

    [row-120*="+"],
    [row-120*="-"] {
        grid-row-start: var(--matrah-grid-rs)
    }

    [row-120*="-"] {
        grid-row-end: var(--matrah-grid-re)
    }

    [row-120="-"] {
        grid-row: 1 / -1
    }

}