@media (max-width:960px) and (orientation: landscape) {

    [rows-96h],
    [cols-96h] {
        display: grid;
        --matrah-grid-tc: repeat(1, 1fr);
        --matrah-grid-tr: repeat(1, 1fr);
        grid-template-columns: var(--matrah-grid-tc);
        grid-template-rows: var(--matrah-grid-tr);
        --matrah-grid-cs: 1;
        --matrah-grid-rs: 1;
        --matrah-grid-re: -1;
        --matrah-grid-ce: -1
    }

    [rows-96h]>*,
    [cols-96h]>* {
        --matrah-grid-cs: 1;
        --matrah-grid-rs: 1;
        --matrah-grid-ce: -1;
        --matrah-grid-re: -1;
        appearance: none;
        -webkit-appearance: none
    }

    [hide-96h] {
        display: none;
    }

    [cols-96h="1"] {
        --matrah-grid-tc: repeat(1, 1fr)
    }

    [cols-96h="2"] {
        --matrah-grid-tc: repeat(2, 1fr)
    }

    [cols-96h="3"] {
        --matrah-grid-tc: repeat(3, 1fr)
    }

    [cols-96h="4"] {
        --matrah-grid-tc: repeat(4, 1fr)
    }

    [cols-96h="5"] {
        --matrah-grid-tc: repeat(5, 1fr)
    }

    [cols-96h="6"] {
        --matrah-grid-tc: repeat(6, 1fr)
    }

    [cols-96h="7"] {
        --matrah-grid-tc: repeat(7, 1fr)
    }

    [cols-96h="8"] {
        --matrah-grid-tc: repeat(8, 1fr)
    }

    [cols-96h="9"] {
        --matrah-grid-tc: repeat(9, 1fr)
    }

    [cols-96h="10"] {
        --matrah-grid-tc: repeat(10, 1fr)
    }

    [cols-96h="11"] {
        --matrah-grid-tc: repeat(11, 1fr)
    }

    [cols-96h="12"] {
        --matrah-grid-tc: repeat(12, 1fr)
    }

    [cols-96h="13"] {
        --matrah-grid-tc: repeat(13, 1fr)
    }

    [cols-96h="14"] {
        --matrah-grid-tc: repeat(14, 1fr)
    }

    [cols-96h="15"] {
        --matrah-grid-tc: repeat(15, 1fr)
    }

    [cols-96h="16"] {
        --matrah-grid-tc: repeat(16, 1fr)
    }

    [cols-96h="17"] {
        --matrah-grid-tc: repeat(17, 1fr)
    }

    [cols-96h="18"] {
        --matrah-grid-tc: repeat(18, 1fr)
    }

    [cols-96h="19"] {
        --matrah-grid-tc: repeat(19, 1fr)
    }

    [cols-96h="20"] {
        --matrah-grid-tc: repeat(20, 1fr)
    }

    [rows-96h="1"] {
        --matrah-grid-tr: repeat(1, 1fr)
    }

    [rows-96h="2"] {
        --matrah-grid-tr: repeat(2, 1fr)
    }

    [rows-96h="3"] {
        --matrah-grid-tr: repeat(3, 1fr)
    }

    [rows-96h="4"] {
        --matrah-grid-tr: repeat(4, 1fr)
    }

    [rows-96h="5"] {
        --matrah-grid-tr: repeat(5, 1fr)
    }

    [rows-96h="6"] {
        --matrah-grid-tr: repeat(6, 1fr)
    }

    [rows-96h="7"] {
        --matrah-grid-tr: repeat(7, 1fr)
    }

    [rows-96h="8"] {
        --matrah-grid-tr: repeat(8, 1fr)
    }

    [rows-96h="9"] {
        --matrah-grid-tr: repeat(9, 1fr)
    }

    [rows-96h="10"] {
        --matrah-grid-tr: repeat(10, 1fr)
    }

    [rows-96h="11"] {
        --matrah-grid-tr: repeat(11, 1fr)
    }

    [rows-96h="12"] {
        --matrah-grid-tr: repeat(12, 1fr)
    }

    [rows-96h="13"] {
        --matrah-grid-tr: repeat(13, 1fr)
    }

    [rows-96h="14"] {
        --matrah-grid-tr: repeat(14, 1fr)
    }

    [rows-96h="15"] {
        --matrah-grid-tr: repeat(15, 1fr)
    }

    [rows-96h="16"] {
        --matrah-grid-tr: repeat(16, 1fr)
    }

    [rows-96h="17"] {
        --matrah-grid-tr: repeat(17, 1fr)
    }

    [rows-96h="18"] {
        --matrah-grid-tr: repeat(18, 1fr)
    }

    [rows-96h="19"] {
        --matrah-grid-tr: repeat(19, 1fr)
    }

    [rows-96h="20"] {
        --matrah-grid-tr: repeat(20, 1fr)
    }

    [col-96h^="1"] {
        --matrah-grid-cs: 1
    }

    [col-96h^="2"] {
        --matrah-grid-cs: 2
    }

    [col-96h^="3"] {
        --matrah-grid-cs: 3
    }

    [col-96h^="4"] {
        --matrah-grid-cs: 4
    }

    [col-96h^="5"] {
        --matrah-grid-cs: 5
    }

    [col-96h^="6"] {
        --matrah-grid-cs: 6
    }

    [col-96h^="7"] {
        --matrah-grid-cs: 7
    }

    [col-96h^="8"] {
        --matrah-grid-cs: 8
    }

    [col-96h^="9"] {
        --matrah-grid-cs: 9
    }

    [col-96h^="10"] {
        --matrah-grid-cs: 10
    }

    [col-96h^="11"] {
        --matrah-grid-cs: 11
    }

    [col-96h^="12"] {
        --matrah-grid-cs: 12
    }

    [col-96h^="13"] {
        --matrah-grid-cs: 13
    }

    [col-96h^="14"] {
        --matrah-grid-cs: 14
    }

    [col-96h^="15"] {
        --matrah-grid-cs: 15
    }

    [col-96h^="16"] {
        --matrah-grid-cs: 16
    }

    [col-96h^="17"] {
        --matrah-grid-cs: 17
    }

    [col-96h^="18"] {
        --matrah-grid-cs: 18
    }

    [col-96h^="19"] {
        --matrah-grid-cs: 19
    }

    [col-96h^="20"] {
        --matrah-grid-cs: 20
    }

    [col-96h$="+1"],
    [col-96h="1"] {
        --matrah-grid-ce: 1
    }

    [col-96h$="+2"],
    [col-96h$="-1"],
    [col-96h="2"] {
        --matrah-grid-ce: 2
    }

    [col-96h$="+3"],
    [col-96h$="-2"],
    [col-96h="3"] {
        --matrah-grid-ce: 3
    }

    [col-96h$="+4"],
    [col-96h$="-3"],
    [col-96h="4"] {
        --matrah-grid-ce: 4
    }

    [col-96h$="+5"],
    [col-96h$="-4"],
    [col-96h="5"] {
        --matrah-grid-ce: 5
    }

    [col-96h$="+6"],
    [col-96h$="-5"],
    [col-96h="6"] {
        --matrah-grid-ce: 6
    }

    [col-96h$="+7"],
    [col-96h$="-6"],
    [col-96h="7"] {
        --matrah-grid-ce: 7
    }

    [col-96h$="+8"],
    [col-96h$="-7"],
    [col-96h="8"] {
        --matrah-grid-ce: 8
    }

    [col-96h$="+9"],
    [col-96h$="-8"],
    [col-96h="9"] {
        --matrah-grid-ce: 9
    }

    [col-96h$="+10"],
    [col-96h$="-9"],
    [col-96h="10"] {
        --matrah-grid-ce: 10
    }

    [col-96h$="+11"],
    [col-96h$="-10"],
    [col-96h="11"] {
        --matrah-grid-ce: 11
    }

    [col-96h$="+12"],
    [col-96h$="-11"],
    [col-96h="12"] {
        --matrah-grid-ce: 12
    }

    [col-96h$="+13"],
    [col-96h$="-12"],
    [col-96h="13"] {
        --matrah-grid-ce: 13
    }

    [col-96h$="+14"],
    [col-96h$="-13"],
    [col-96h="14"] {
        --matrah-grid-ce: 14
    }

    [col-96h$="+15"],
    [col-96h$="-14"],
    [col-96h="15"] {
        --matrah-grid-ce: 15
    }

    [col-96h$="+16"],
    [col-96h$="-15"],
    [col-96h="16"] {
        --matrah-grid-ce: 16
    }

    [col-96h$="+17"],
    [col-96h$="-16"],
    [col-96h="17"] {
        --matrah-grid-ce: 17
    }

    [col-96h$="+18"],
    [col-96h$="-17"],
    [col-96h="18"] {
        --matrah-grid-ce: 18
    }

    [col-96h$="+19"],
    [col-96h$="-18"],
    [col-96h="19"] {
        --matrah-grid-ce: 19
    }

    [col-96h$="+20"],
    [col-96h$="-19"],
    [col-96h="20"] {
        --matrah-grid-ce: 20
    }

    [col-96h$="-20"] {
        --matrah-grid-ce: 21
    }

    [col-96h] {
        grid-column-end: span var(--matrah-grid-ce)
    }

    [col-96h*="+"],
    [col-96h*="-"] {
        grid-column-start: var(--matrah-grid-cs)
    }

    [col-96h*="-"] {
        grid-column-end: var(--matrah-grid-ce)
    }

    [col-96h="-"] {
        grid-column: 1 / -1
    }

    [row-96h^="1"] {
        --matrah-grid-rs: 1
    }

    [row-96h^="2"] {
        --matrah-grid-rs: 2
    }

    [row-96h^="3"] {
        --matrah-grid-rs: 3
    }

    [row-96h^="4"] {
        --matrah-grid-rs: 4
    }

    [row-96h^="5"] {
        --matrah-grid-rs: 5
    }

    [row-96h^="6"] {
        --matrah-grid-rs: 6
    }

    [row-96h^="7"] {
        --matrah-grid-rs: 7
    }

    [row-96h^="8"] {
        --matrah-grid-rs: 8
    }

    [row-96h^="9"] {
        --matrah-grid-rs: 9
    }

    [row-96h^="10"] {
        --matrah-grid-rs: 10
    }

    [row-96h^="11"] {
        --matrah-grid-rs: 11
    }

    [row-96h^="12"] {
        --matrah-grid-rs: 12
    }

    [row-96h^="13"] {
        --matrah-grid-rs: 13
    }

    [row-96h^="14"] {
        --matrah-grid-rs: 14
    }

    [row-96h^="15"] {
        --matrah-grid-rs: 15
    }

    [row-96h^="16"] {
        --matrah-grid-rs: 16
    }

    [row-96h^="17"] {
        --matrah-grid-rs: 17
    }

    [row-96h^="18"] {
        --matrah-grid-rs: 18
    }

    [row-96h^="19"] {
        --matrah-grid-rs: 19
    }

    [row-96h^="20"] {
        --matrah-grid-rs: 20
    }

    [row-96h$="+1"],
    [row-96h="1"] {
        --matrah-grid-re: 1
    }

    [row-96h$="+2"],
    [row-96h$="-1"],
    [row-96h="2"] {
        --matrah-grid-re: 2
    }

    [row-96h$="+3"],
    [row-96h$="-2"],
    [row-96h="3"] {
        --matrah-grid-re: 3
    }

    [row-96h$="+4"],
    [row-96h$="-3"],
    [row-96h="4"] {
        --matrah-grid-re: 4
    }

    [row-96h$="+5"],
    [row-96h$="-4"],
    [row-96h="5"] {
        --matrah-grid-re: 5
    }

    [row-96h$="+6"],
    [row-96h$="-5"],
    [row-96h="6"] {
        --matrah-grid-re: 6
    }

    [row-96h$="+7"],
    [row-96h$="-6"],
    [row-96h="7"] {
        --matrah-grid-re: 7
    }

    [row-96h$="+8"],
    [row-96h$="-7"],
    [row-96h="8"] {
        --matrah-grid-re: 8
    }

    [row-96h$="+9"],
    [row-96h$="-8"],
    [row-96h="9"] {
        --matrah-grid-re: 9
    }

    [row-96h$="+10"],
    [row-96h$="-9"],
    [row-96h="10"] {
        --matrah-grid-re: 10
    }

    [row-96h$="+11"],
    [row-96h$="-10"],
    [row-96h="11"] {
        --matrah-grid-re: 11
    }

    [row-96h$="+12"],
    [row-96h$="-11"],
    [row-96h="12"] {
        --matrah-grid-re: 12
    }

    [row-96h$="+13"],
    [row-96h$="-12"],
    [row-96h="13"] {
        --matrah-grid-re: 13
    }

    [row-96h$="+14"],
    [row-96h$="-13"],
    [row-96h="14"] {
        --matrah-grid-re: 14
    }

    [row-96h$="+15"],
    [row-96h$="-14"],
    [row-96h="15"] {
        --matrah-grid-re: 15
    }

    [row-96h$="+16"],
    [row-96h$="-15"],
    [row-96h="16"] {
        --matrah-grid-re: 16
    }

    [row-96h$="+17"],
    [row-96h$="-16"],
    [row-96h="17"] {
        --matrah-grid-re: 17
    }

    [row-96h$="+18"],
    [row-96h$="-17"],
    [row-96h="18"] {
        --matrah-grid-re: 18
    }

    [row-96h$="+19"],
    [row-96h$="-18"],
    [row-96h="19"] {
        --matrah-grid-re: 19
    }

    [row-96h$="+20"],
    [row-96h$="-19"],
    [row-96h="20"] {
        --matrah-grid-re: 20
    }

    [row-96h$="-20"] {
        --matrah-grid-re: 21
    }

    [row-96h] {
        grid-row-end: span var(--matrah-grid-re)
    }

    [row-96h*="+"],
    [row-96h*="-"] {
        grid-row-start: var(--matrah-grid-rs)
    }

    [row-96h*="-"] {
        grid-row-end: var(--matrah-grid-re)
    }

    [row-96h="-"] {
        grid-row: 1 / -1
    }

}