@media (max-width:960px) and (orientation: portrait) {

    [rows-96v],
    [cols-96v] {
        display: grid;
        --matrah-grid-tc: repeat(1, 1fr);
        --matrah-grid-tr: repeat(1, 1fr);
        grid-template-columns: var(--matrah-grid-tc);
        grid-template-rows: var(--matrah-grid-tr);
        --matrah-grid-cs: 1;
        --matrah-grid-rs: 1;
        --matrah-grid-re: -1;
        --matrah-grid-ce: -1
    }

    [rows-96v]>*,
    [cols-96v]>* {
        --matrah-grid-cs: 1;
        --matrah-grid-rs: 1;
        --matrah-grid-ce: -1;
        --matrah-grid-re: -1;
        appearance: none;
        -webkit-appearance: none
    }

    [hide-96v] {
        display: none;
    }

    [cols-96v="1"] {
        --matrah-grid-tc: repeat(1, 1fr)
    }

    [cols-96v="2"] {
        --matrah-grid-tc: repeat(2, 1fr)
    }

    [cols-96v="3"] {
        --matrah-grid-tc: repeat(3, 1fr)
    }

    [cols-96v="4"] {
        --matrah-grid-tc: repeat(4, 1fr)
    }

    [cols-96v="5"] {
        --matrah-grid-tc: repeat(5, 1fr)
    }

    [cols-96v="6"] {
        --matrah-grid-tc: repeat(6, 1fr)
    }

    [cols-96v="7"] {
        --matrah-grid-tc: repeat(7, 1fr)
    }

    [cols-96v="8"] {
        --matrah-grid-tc: repeat(8, 1fr)
    }

    [cols-96v="9"] {
        --matrah-grid-tc: repeat(9, 1fr)
    }

    [cols-96v="10"] {
        --matrah-grid-tc: repeat(10, 1fr)
    }

    [cols-96v="11"] {
        --matrah-grid-tc: repeat(11, 1fr)
    }

    [cols-96v="12"] {
        --matrah-grid-tc: repeat(12, 1fr)
    }

    [cols-96v="13"] {
        --matrah-grid-tc: repeat(13, 1fr)
    }

    [cols-96v="14"] {
        --matrah-grid-tc: repeat(14, 1fr)
    }

    [cols-96v="15"] {
        --matrah-grid-tc: repeat(15, 1fr)
    }

    [cols-96v="16"] {
        --matrah-grid-tc: repeat(16, 1fr)
    }

    [cols-96v="17"] {
        --matrah-grid-tc: repeat(17, 1fr)
    }

    [cols-96v="18"] {
        --matrah-grid-tc: repeat(18, 1fr)
    }

    [cols-96v="19"] {
        --matrah-grid-tc: repeat(19, 1fr)
    }

    [cols-96v="20"] {
        --matrah-grid-tc: repeat(20, 1fr)
    }

    [rows-96v="1"] {
        --matrah-grid-tr: repeat(1, 1fr)
    }

    [rows-96v="2"] {
        --matrah-grid-tr: repeat(2, 1fr)
    }

    [rows-96v="3"] {
        --matrah-grid-tr: repeat(3, 1fr)
    }

    [rows-96v="4"] {
        --matrah-grid-tr: repeat(4, 1fr)
    }

    [rows-96v="5"] {
        --matrah-grid-tr: repeat(5, 1fr)
    }

    [rows-96v="6"] {
        --matrah-grid-tr: repeat(6, 1fr)
    }

    [rows-96v="7"] {
        --matrah-grid-tr: repeat(7, 1fr)
    }

    [rows-96v="8"] {
        --matrah-grid-tr: repeat(8, 1fr)
    }

    [rows-96v="9"] {
        --matrah-grid-tr: repeat(9, 1fr)
    }

    [rows-96v="10"] {
        --matrah-grid-tr: repeat(10, 1fr)
    }

    [rows-96v="11"] {
        --matrah-grid-tr: repeat(11, 1fr)
    }

    [rows-96v="12"] {
        --matrah-grid-tr: repeat(12, 1fr)
    }

    [rows-96v="13"] {
        --matrah-grid-tr: repeat(13, 1fr)
    }

    [rows-96v="14"] {
        --matrah-grid-tr: repeat(14, 1fr)
    }

    [rows-96v="15"] {
        --matrah-grid-tr: repeat(15, 1fr)
    }

    [rows-96v="16"] {
        --matrah-grid-tr: repeat(16, 1fr)
    }

    [rows-96v="17"] {
        --matrah-grid-tr: repeat(17, 1fr)
    }

    [rows-96v="18"] {
        --matrah-grid-tr: repeat(18, 1fr)
    }

    [rows-96v="19"] {
        --matrah-grid-tr: repeat(19, 1fr)
    }

    [rows-96v="20"] {
        --matrah-grid-tr: repeat(20, 1fr)
    }

    [col-96v^="1"] {
        --matrah-grid-cs: 1
    }

    [col-96v^="2"] {
        --matrah-grid-cs: 2
    }

    [col-96v^="3"] {
        --matrah-grid-cs: 3
    }

    [col-96v^="4"] {
        --matrah-grid-cs: 4
    }

    [col-96v^="5"] {
        --matrah-grid-cs: 5
    }

    [col-96v^="6"] {
        --matrah-grid-cs: 6
    }

    [col-96v^="7"] {
        --matrah-grid-cs: 7
    }

    [col-96v^="8"] {
        --matrah-grid-cs: 8
    }

    [col-96v^="9"] {
        --matrah-grid-cs: 9
    }

    [col-96v^="10"] {
        --matrah-grid-cs: 10
    }

    [col-96v^="11"] {
        --matrah-grid-cs: 11
    }

    [col-96v^="12"] {
        --matrah-grid-cs: 12
    }

    [col-96v^="13"] {
        --matrah-grid-cs: 13
    }

    [col-96v^="14"] {
        --matrah-grid-cs: 14
    }

    [col-96v^="15"] {
        --matrah-grid-cs: 15
    }

    [col-96v^="16"] {
        --matrah-grid-cs: 16
    }

    [col-96v^="17"] {
        --matrah-grid-cs: 17
    }

    [col-96v^="18"] {
        --matrah-grid-cs: 18
    }

    [col-96v^="19"] {
        --matrah-grid-cs: 19
    }

    [col-96v^="20"] {
        --matrah-grid-cs: 20
    }

    [col-96v$="+1"],
    [col-96v="1"] {
        --matrah-grid-ce: 1
    }

    [col-96v$="+2"],
    [col-96v$="-1"],
    [col-96v="2"] {
        --matrah-grid-ce: 2
    }

    [col-96v$="+3"],
    [col-96v$="-2"],
    [col-96v="3"] {
        --matrah-grid-ce: 3
    }

    [col-96v$="+4"],
    [col-96v$="-3"],
    [col-96v="4"] {
        --matrah-grid-ce: 4
    }

    [col-96v$="+5"],
    [col-96v$="-4"],
    [col-96v="5"] {
        --matrah-grid-ce: 5
    }

    [col-96v$="+6"],
    [col-96v$="-5"],
    [col-96v="6"] {
        --matrah-grid-ce: 6
    }

    [col-96v$="+7"],
    [col-96v$="-6"],
    [col-96v="7"] {
        --matrah-grid-ce: 7
    }

    [col-96v$="+8"],
    [col-96v$="-7"],
    [col-96v="8"] {
        --matrah-grid-ce: 8
    }

    [col-96v$="+9"],
    [col-96v$="-8"],
    [col-96v="9"] {
        --matrah-grid-ce: 9
    }

    [col-96v$="+10"],
    [col-96v$="-9"],
    [col-96v="10"] {
        --matrah-grid-ce: 10
    }

    [col-96v$="+11"],
    [col-96v$="-10"],
    [col-96v="11"] {
        --matrah-grid-ce: 11
    }

    [col-96v$="+12"],
    [col-96v$="-11"],
    [col-96v="12"] {
        --matrah-grid-ce: 12
    }

    [col-96v$="+13"],
    [col-96v$="-12"],
    [col-96v="13"] {
        --matrah-grid-ce: 13
    }

    [col-96v$="+14"],
    [col-96v$="-13"],
    [col-96v="14"] {
        --matrah-grid-ce: 14
    }

    [col-96v$="+15"],
    [col-96v$="-14"],
    [col-96v="15"] {
        --matrah-grid-ce: 15
    }

    [col-96v$="+16"],
    [col-96v$="-15"],
    [col-96v="16"] {
        --matrah-grid-ce: 16
    }

    [col-96v$="+17"],
    [col-96v$="-16"],
    [col-96v="17"] {
        --matrah-grid-ce: 17
    }

    [col-96v$="+18"],
    [col-96v$="-17"],
    [col-96v="18"] {
        --matrah-grid-ce: 18
    }

    [col-96v$="+19"],
    [col-96v$="-18"],
    [col-96v="19"] {
        --matrah-grid-ce: 19
    }

    [col-96v$="+20"],
    [col-96v$="-19"],
    [col-96v="20"] {
        --matrah-grid-ce: 20
    }

    [col-96v$="-20"] {
        --matrah-grid-ce: 21
    }

    [col-96v] {
        grid-column-end: span var(--matrah-grid-ce)
    }

    [col-96v*="+"],
    [col-96v*="-"] {
        grid-column-start: var(--matrah-grid-cs)
    }

    [col-96v*="-"] {
        grid-column-end: var(--matrah-grid-ce)
    }

    [col-96v="-"] {
        grid-column: 1 / -1
    }

    [row-96v^="1"] {
        --matrah-grid-rs: 1
    }

    [row-96v^="2"] {
        --matrah-grid-rs: 2
    }

    [row-96v^="3"] {
        --matrah-grid-rs: 3
    }

    [row-96v^="4"] {
        --matrah-grid-rs: 4
    }

    [row-96v^="5"] {
        --matrah-grid-rs: 5
    }

    [row-96v^="6"] {
        --matrah-grid-rs: 6
    }

    [row-96v^="7"] {
        --matrah-grid-rs: 7
    }

    [row-96v^="8"] {
        --matrah-grid-rs: 8
    }

    [row-96v^="9"] {
        --matrah-grid-rs: 9
    }

    [row-96v^="10"] {
        --matrah-grid-rs: 10
    }

    [row-96v^="11"] {
        --matrah-grid-rs: 11
    }

    [row-96v^="12"] {
        --matrah-grid-rs: 12
    }

    [row-96v^="13"] {
        --matrah-grid-rs: 13
    }

    [row-96v^="14"] {
        --matrah-grid-rs: 14
    }

    [row-96v^="15"] {
        --matrah-grid-rs: 15
    }

    [row-96v^="16"] {
        --matrah-grid-rs: 16
    }

    [row-96v^="17"] {
        --matrah-grid-rs: 17
    }

    [row-96v^="18"] {
        --matrah-grid-rs: 18
    }

    [row-96v^="19"] {
        --matrah-grid-rs: 19
    }

    [row-96v^="20"] {
        --matrah-grid-rs: 20
    }

    [row-96v$="+1"],
    [row-96v="1"] {
        --matrah-grid-re: 1
    }

    [row-96v$="+2"],
    [row-96v$="-1"],
    [row-96v="2"] {
        --matrah-grid-re: 2
    }

    [row-96v$="+3"],
    [row-96v$="-2"],
    [row-96v="3"] {
        --matrah-grid-re: 3
    }

    [row-96v$="+4"],
    [row-96v$="-3"],
    [row-96v="4"] {
        --matrah-grid-re: 4
    }

    [row-96v$="+5"],
    [row-96v$="-4"],
    [row-96v="5"] {
        --matrah-grid-re: 5
    }

    [row-96v$="+6"],
    [row-96v$="-5"],
    [row-96v="6"] {
        --matrah-grid-re: 6
    }

    [row-96v$="+7"],
    [row-96v$="-6"],
    [row-96v="7"] {
        --matrah-grid-re: 7
    }

    [row-96v$="+8"],
    [row-96v$="-7"],
    [row-96v="8"] {
        --matrah-grid-re: 8
    }

    [row-96v$="+9"],
    [row-96v$="-8"],
    [row-96v="9"] {
        --matrah-grid-re: 9
    }

    [row-96v$="+10"],
    [row-96v$="-9"],
    [row-96v="10"] {
        --matrah-grid-re: 10
    }

    [row-96v$="+11"],
    [row-96v$="-10"],
    [row-96v="11"] {
        --matrah-grid-re: 11
    }

    [row-96v$="+12"],
    [row-96v$="-11"],
    [row-96v="12"] {
        --matrah-grid-re: 12
    }

    [row-96v$="+13"],
    [row-96v$="-12"],
    [row-96v="13"] {
        --matrah-grid-re: 13
    }

    [row-96v$="+14"],
    [row-96v$="-13"],
    [row-96v="14"] {
        --matrah-grid-re: 14
    }

    [row-96v$="+15"],
    [row-96v$="-14"],
    [row-96v="15"] {
        --matrah-grid-re: 15
    }

    [row-96v$="+16"],
    [row-96v$="-15"],
    [row-96v="16"] {
        --matrah-grid-re: 16
    }

    [row-96v$="+17"],
    [row-96v$="-16"],
    [row-96v="17"] {
        --matrah-grid-re: 17
    }

    [row-96v$="+18"],
    [row-96v$="-17"],
    [row-96v="18"] {
        --matrah-grid-re: 18
    }

    [row-96v$="+19"],
    [row-96v$="-18"],
    [row-96v="19"] {
        --matrah-grid-re: 19
    }

    [row-96v$="+20"],
    [row-96v$="-19"],
    [row-96v="20"] {
        --matrah-grid-re: 20
    }

    [row-96v$="-20"] {
        --matrah-grid-re: 21
    }

    [row-96v] {
        grid-row-end: span var(--matrah-grid-re)
    }

    [row-96v*="+"],
    [row-96v*="-"] {
        grid-row-start: var(--matrah-grid-rs)
    }

    [row-96v*="-"] {
        grid-row-end: var(--matrah-grid-re)
    }

    [row-96v="-"] {
        grid-row: 1 / -1
    }

}