[debug] * {
    --color: rgba(29, 0, 0, 0.2);
    background-image: linear-gradient(to bottom, var(--color) 0%, var(--color) 9%)
}

[debug] *:nth-child(6n+2) {
    --color: rgba(103, 126, 208, .3)
}

[debug] *:nth-child(6n+3) {
    --color: rgba(224, 174, 72, .3)
}

[debug] *:nth-child(6n+4) {
    --color: rgba(77, 214, 115, .3)
}

[debug] *:nth-child(6n+5) {
    --color: rgba(217, 103, 219, .3)
}

[debug] *:nth-child(6n+6) {
    --color: rgba(94, 204, 211, .3)
}

[debug] *:nth-child(6n+7) {
    --color: rgba(248, 110, 91, .3)
}