@media (orientation: landscape) {

    [rows-h],
    [cols-h] {
        display: grid;
        --matrah-grid-tc: repeat(1, 1fr);
        --matrah-grid-tr: repeat(1, 1fr);
        grid-template-columns: var(--matrah-grid-tc);
        grid-template-rows: var(--matrah-grid-tr);
        --matrah-grid-cs: 1;
        --matrah-grid-rs: 1;
        --matrah-grid-re: -1;
        --matrah-grid-ce: -1
    }

    [rows-h]>*,
    [cols-h]>* {
        --matrah-grid-cs: 1;
        --matrah-grid-rs: 1;
        --matrah-grid-ce: -1;
        --matrah-grid-re: -1;
        appearance: none;
        -webkit-appearance: none
    }

    [hide-h] {
        display: none;
    }


    [cols-h="1"] {
        --matrah-grid-tc: repeat(1, 1fr)
    }

    [cols-h="2"] {
        --matrah-grid-tc: repeat(2, 1fr)
    }

    [cols-h="3"] {
        --matrah-grid-tc: repeat(3, 1fr)
    }

    [cols-h="4"] {
        --matrah-grid-tc: repeat(4, 1fr)
    }

    [cols-h="5"] {
        --matrah-grid-tc: repeat(5, 1fr)
    }

    [cols-h="6"] {
        --matrah-grid-tc: repeat(6, 1fr)
    }

    [cols-h="7"] {
        --matrah-grid-tc: repeat(7, 1fr)
    }

    [cols-h="8"] {
        --matrah-grid-tc: repeat(8, 1fr)
    }

    [cols-h="9"] {
        --matrah-grid-tc: repeat(9, 1fr)
    }

    [cols-h="10"] {
        --matrah-grid-tc: repeat(10, 1fr)
    }

    [cols-h="11"] {
        --matrah-grid-tc: repeat(11, 1fr)
    }

    [cols-h="12"] {
        --matrah-grid-tc: repeat(12, 1fr)
    }

    [cols-h="13"] {
        --matrah-grid-tc: repeat(13, 1fr)
    }

    [cols-h="14"] {
        --matrah-grid-tc: repeat(14, 1fr)
    }

    [cols-h="15"] {
        --matrah-grid-tc: repeat(15, 1fr)
    }

    [cols-h="16"] {
        --matrah-grid-tc: repeat(16, 1fr)
    }

    [cols-h="17"] {
        --matrah-grid-tc: repeat(17, 1fr)
    }

    [cols-h="18"] {
        --matrah-grid-tc: repeat(18, 1fr)
    }

    [cols-h="19"] {
        --matrah-grid-tc: repeat(19, 1fr)
    }

    [cols-h="20"] {
        --matrah-grid-tc: repeat(20, 1fr)
    }

    [rows-h="1"] {
        --matrah-grid-tr: repeat(1, 1fr)
    }

    [rows-h="2"] {
        --matrah-grid-tr: repeat(2, 1fr)
    }

    [rows-h="3"] {
        --matrah-grid-tr: repeat(3, 1fr)
    }

    [rows-h="4"] {
        --matrah-grid-tr: repeat(4, 1fr)
    }

    [rows-h="5"] {
        --matrah-grid-tr: repeat(5, 1fr)
    }

    [rows-h="6"] {
        --matrah-grid-tr: repeat(6, 1fr)
    }

    [rows-h="7"] {
        --matrah-grid-tr: repeat(7, 1fr)
    }

    [rows-h="8"] {
        --matrah-grid-tr: repeat(8, 1fr)
    }

    [rows-h="9"] {
        --matrah-grid-tr: repeat(9, 1fr)
    }

    [rows-h="10"] {
        --matrah-grid-tr: repeat(10, 1fr)
    }

    [rows-h="11"] {
        --matrah-grid-tr: repeat(11, 1fr)
    }

    [rows-h="12"] {
        --matrah-grid-tr: repeat(12, 1fr)
    }

    [rows-h="13"] {
        --matrah-grid-tr: repeat(13, 1fr)
    }

    [rows-h="14"] {
        --matrah-grid-tr: repeat(14, 1fr)
    }

    [rows-h="15"] {
        --matrah-grid-tr: repeat(15, 1fr)
    }

    [rows-h="16"] {
        --matrah-grid-tr: repeat(16, 1fr)
    }

    [rows-h="17"] {
        --matrah-grid-tr: repeat(17, 1fr)
    }

    [rows-h="18"] {
        --matrah-grid-tr: repeat(18, 1fr)
    }

    [rows-h="19"] {
        --matrah-grid-tr: repeat(19, 1fr)
    }

    [rows-h="20"] {
        --matrah-grid-tr: repeat(20, 1fr)
    }

    [col-h^="1"] {
        --matrah-grid-cs: 1
    }

    [col-h^="2"] {
        --matrah-grid-cs: 2
    }

    [col-h^="3"] {
        --matrah-grid-cs: 3
    }

    [col-h^="4"] {
        --matrah-grid-cs: 4
    }

    [col-h^="5"] {
        --matrah-grid-cs: 5
    }

    [col-h^="6"] {
        --matrah-grid-cs: 6
    }

    [col-h^="7"] {
        --matrah-grid-cs: 7
    }

    [col-h^="8"] {
        --matrah-grid-cs: 8
    }

    [col-h^="9"] {
        --matrah-grid-cs: 9
    }

    [col-h^="10"] {
        --matrah-grid-cs: 10
    }

    [col-h^="11"] {
        --matrah-grid-cs: 11
    }

    [col-h^="12"] {
        --matrah-grid-cs: 12
    }

    [col-h^="13"] {
        --matrah-grid-cs: 13
    }

    [col-h^="14"] {
        --matrah-grid-cs: 14
    }

    [col-h^="15"] {
        --matrah-grid-cs: 15
    }

    [col-h^="16"] {
        --matrah-grid-cs: 16
    }

    [col-h^="17"] {
        --matrah-grid-cs: 17
    }

    [col-h^="18"] {
        --matrah-grid-cs: 18
    }

    [col-h^="19"] {
        --matrah-grid-cs: 19
    }

    [col-h^="20"] {
        --matrah-grid-cs: 20
    }

    [col-h$="+1"],
    [col-h="1"] {
        --matrah-grid-ce: 1
    }

    [col-h$="+2"],
    [col-h$="-1"],
    [col-h="2"] {
        --matrah-grid-ce: 2
    }

    [col-h$="+3"],
    [col-h$="-2"],
    [col-h="3"] {
        --matrah-grid-ce: 3
    }

    [col-h$="+4"],
    [col-h$="-3"],
    [col-h="4"] {
        --matrah-grid-ce: 4
    }

    [col-h$="+5"],
    [col-h$="-4"],
    [col-h="5"] {
        --matrah-grid-ce: 5
    }

    [col-h$="+6"],
    [col-h$="-5"],
    [col-h="6"] {
        --matrah-grid-ce: 6
    }

    [col-h$="+7"],
    [col-h$="-6"],
    [col-h="7"] {
        --matrah-grid-ce: 7
    }

    [col-h$="+8"],
    [col-h$="-7"],
    [col-h="8"] {
        --matrah-grid-ce: 8
    }

    [col-h$="+9"],
    [col-h$="-8"],
    [col-h="9"] {
        --matrah-grid-ce: 9
    }

    [col-h$="+10"],
    [col-h$="-9"],
    [col-h="10"] {
        --matrah-grid-ce: 10
    }

    [col-h$="+11"],
    [col-h$="-10"],
    [col-h="11"] {
        --matrah-grid-ce: 11
    }

    [col-h$="+12"],
    [col-h$="-11"],
    [col-h="12"] {
        --matrah-grid-ce: 12
    }

    [col-h$="+13"],
    [col-h$="-12"],
    [col-h="13"] {
        --matrah-grid-ce: 13
    }

    [col-h$="+14"],
    [col-h$="-13"],
    [col-h="14"] {
        --matrah-grid-ce: 14
    }

    [col-h$="+15"],
    [col-h$="-14"],
    [col-h="15"] {
        --matrah-grid-ce: 15
    }

    [col-h$="+16"],
    [col-h$="-15"],
    [col-h="16"] {
        --matrah-grid-ce: 16
    }

    [col-h$="+17"],
    [col-h$="-16"],
    [col-h="17"] {
        --matrah-grid-ce: 17
    }

    [col-h$="+18"],
    [col-h$="-17"],
    [col-h="18"] {
        --matrah-grid-ce: 18
    }

    [col-h$="+19"],
    [col-h$="-18"],
    [col-h="19"] {
        --matrah-grid-ce: 19
    }

    [col-h$="+20"],
    [col-h$="-19"],
    [col-h="20"] {
        --matrah-grid-ce: 20
    }

    [col-h$="-20"] {
        --matrah-grid-ce: 21
    }

    [col-h] {
        grid-column-end: span var(--matrah-grid-ce)
    }

    [col-h*="+"],
    [col-h*="-"] {
        grid-column-start: var(--matrah-grid-cs)
    }

    [col-h*="-"] {
        grid-column-end: var(--matrah-grid-ce)
    }

    [col-h="-"] {
        grid-column: 1 / -1
    }

    [row-h^="1"] {
        --matrah-grid-rs: 1
    }

    [row-h^="2"] {
        --matrah-grid-rs: 2
    }

    [row-h^="3"] {
        --matrah-grid-rs: 3
    }

    [row-h^="4"] {
        --matrah-grid-rs: 4
    }

    [row-h^="5"] {
        --matrah-grid-rs: 5
    }

    [row-h^="6"] {
        --matrah-grid-rs: 6
    }

    [row-h^="7"] {
        --matrah-grid-rs: 7
    }

    [row-h^="8"] {
        --matrah-grid-rs: 8
    }

    [row-h^="9"] {
        --matrah-grid-rs: 9
    }

    [row-h^="10"] {
        --matrah-grid-rs: 10
    }

    [row-h^="11"] {
        --matrah-grid-rs: 11
    }

    [row-h^="12"] {
        --matrah-grid-rs: 12
    }

    [row-h^="13"] {
        --matrah-grid-rs: 13
    }

    [row-h^="14"] {
        --matrah-grid-rs: 14
    }

    [row-h^="15"] {
        --matrah-grid-rs: 15
    }

    [row-h^="16"] {
        --matrah-grid-rs: 16
    }

    [row-h^="17"] {
        --matrah-grid-rs: 17
    }

    [row-h^="18"] {
        --matrah-grid-rs: 18
    }

    [row-h^="19"] {
        --matrah-grid-rs: 19
    }

    [row-h^="20"] {
        --matrah-grid-rs: 20
    }

    [row-h$="+1"],
    [row-h="1"] {
        --matrah-grid-re: 1
    }

    [row-h$="+2"],
    [row-h$="-1"],
    [row-h="2"] {
        --matrah-grid-re: 2
    }

    [row-h$="+3"],
    [row-h$="-2"],
    [row-h="3"] {
        --matrah-grid-re: 3
    }

    [row-h$="+4"],
    [row-h$="-3"],
    [row-h="4"] {
        --matrah-grid-re: 4
    }

    [row-h$="+5"],
    [row-h$="-4"],
    [row-h="5"] {
        --matrah-grid-re: 5
    }

    [row-h$="+6"],
    [row-h$="-5"],
    [row-h="6"] {
        --matrah-grid-re: 6
    }

    [row-h$="+7"],
    [row-h$="-6"],
    [row-h="7"] {
        --matrah-grid-re: 7
    }

    [row-h$="+8"],
    [row-h$="-7"],
    [row-h="8"] {
        --matrah-grid-re: 8
    }

    [row-h$="+9"],
    [row-h$="-8"],
    [row-h="9"] {
        --matrah-grid-re: 9
    }

    [row-h$="+10"],
    [row-h$="-9"],
    [row-h="10"] {
        --matrah-grid-re: 10
    }

    [row-h$="+11"],
    [row-h$="-10"],
    [row-h="11"] {
        --matrah-grid-re: 11
    }

    [row-h$="+12"],
    [row-h$="-11"],
    [row-h="12"] {
        --matrah-grid-re: 12
    }

    [row-h$="+13"],
    [row-h$="-12"],
    [row-h="13"] {
        --matrah-grid-re: 13
    }

    [row-h$="+14"],
    [row-h$="-13"],
    [row-h="14"] {
        --matrah-grid-re: 14
    }

    [row-h$="+15"],
    [row-h$="-14"],
    [row-h="15"] {
        --matrah-grid-re: 15
    }

    [row-h$="+16"],
    [row-h$="-15"],
    [row-h="16"] {
        --matrah-grid-re: 16
    }

    [row-h$="+17"],
    [row-h$="-16"],
    [row-h="17"] {
        --matrah-grid-re: 17
    }

    [row-h$="+18"],
    [row-h$="-17"],
    [row-h="18"] {
        --matrah-grid-re: 18
    }

    [row-h$="+19"],
    [row-h$="-18"],
    [row-h="19"] {
        --matrah-grid-re: 19
    }

    [row-h$="+20"],
    [row-h$="-19"],
    [row-h="20"] {
        --matrah-grid-re: 20
    }

    [row-h$="-20"] {
        --matrah-grid-re: 21
    }

    [row-h] {
        grid-row-end: span var(--matrah-grid-re)
    }

    [row-h*="+"],
    [row-h*="-"] {
        grid-row-start: var(--matrah-grid-rs)
    }

    [row-h*="-"] {
        grid-row-end: var(--matrah-grid-re)
    }

    [row-h="-"] {
        grid-row: 1 / -1
    }
}